.project
.settings
core/.classpath
target

.project
.settings
api/.classpath
api/target
omod/.classpath
omod/target
.idea
*iml
.DS_Store
target/checkout/
/target
*.sass-cache
**/target/
**/target/**/*.class
module-book/target/classes/com/example/library/book/entity/*.class
module-web/target/classes
lib/
vendor/
**/target/surefire-reports/
**/target/classes/static/