<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Library Management - Login</title>
  <link rel="icon" type="image/png" th:href="@{/images/homelogo.png}">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
   <link th:href="@{/css/mystyle.css}" rel="stylesheet">
  </head>
<body class="bg-light d-flex align-items-center vh-100">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <h3 class="text-center mb-4">Login</h3>
            <div th:if="${error}" style="color:red">
			        <p th:text="${error}"></p>
			  </div>
            <form method="post" th:action="@{/login}">
              <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter username" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter password" required>
              </div>
              
              
              
              <button type="submit" class="btn btn-primary w-100">Login</button>
              

            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>