<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add User</title>  
    <link th:href="@{/css/mystyle.css}" rel="stylesheet">   
</head>
<body>
<!-- Insert into layout -->
    <div th:fragment="content">
    <div class="container mt-4">
	    <div class="card shadow-sm rounded-3">	 
	    <div class="card-header text-white d-flex justify-content-between align-items-center" 
	    style="background-color: #ABB9B7 !important;
  color: white !important;">
	      <h4 class="mb-0" th:text="${isEdit} ? 'Edit User' : 'Add New User'"></h4>	     
	      <a th:href="@{/users}"  class="btn btn-light btn-sm">Back to List</a>
	    </div>     		

    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
	<div class="card-body">
	<div id="message" style="color:red; margin-bottom: 10px;"></div>
	   <form   th:action="@{/save}" th:object="${user}" method="post" id="form">
	    	<input type="hidden" name="isEdit" th:value="${isEdit}" />
	    	<input type="hidden" name="userId" th:field="*{userId}" />
	        <div class="row mb-3">
	            <label class="col-sm-3 col-form-label">
	            	User Name <span class="text-danger">*</span>
	            </label>
	            <div class="col-sm-5">
	            <input type="text" class="form-control" name="username"
	                   placeholder="Enter username"
	                   th:field="*{username}"  >
	            </div>
	            <div class="col-sm-3 text-danger small username-error"></div>
	            <div th:if="${usernameError}" style="color:red">
			        <p th:text="${usernameError}"></p>
			    </div>
			    <div class="col-sm-3 text-danger small" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div> 	                    	
	        </div>
	
	        <div class="row mb-3">
	            <label class="col-sm-3 col-form-label">
	            	Password <span class="text-danger">*</span>
	            </label>
	            <div class="col-sm-5">
	            	<input type="password" class="form-control" name="password"
	                   placeholder="Enter password"
	                   th:field="*{password}">
	             </div>
	             <div class="col-sm-3 text-danger password-error"></div>
	             <div th:if="${passwordError}" style="color:red">
			        <p th:text="${passwordError}"></p>
			    </div>
			    <div class="col-sm-3 text-danger small" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div> 
	        </div>
	        
			<div class="row mb-3">
	            <label class="col-sm-3 col-form-label">Full Name</label>
	            <div class="col-sm-5">
	            <input type="text" class="form-control" name="fullName"
	                   placeholder="Enter full-Name"
	                   th:field="*{fullName}">
	             </div>
	             <div class="col-sm-3 text-danger fullName-error"></div>
	             <div class="col-sm-3 text-danger small" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div> 
	        </div>
	        
	        <div class="row mb-3">
	            <label class="col-sm-3 col-form-label">Phone No.</label>
	            <div class="col-sm-5">
	            <input type="text" class="form-control" name="phoneNo" id="phoneNo"
	                   placeholder="Enter Phone No."
	                   th:field="*{phoneNo}">
	             </div>
	             <div class="col-sm-3 text-danger phoneNo-error"></div>
	             <div class="col-sm-3 text-danger small" th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}"></div> 
	        </div>
	        
	        <div class="row mb-3">
	            <label class="col-sm-3 col-form-label">Address</label>
	            <div class="col-sm-5">
	            <input type="text" class="form-control" name="address" id="address"
	                   placeholder="Enter Address"
	                   th:field="*{address}">
	             </div>
	             <div class="col-sm-3 text-danger address-error"></div>
	             <div class="col-sm-3 text-danger small" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div> 
	        </div>
	        <div class="row mb-3">
	        </div>
	        <div class="row mb-3">
	            <label class="col-sm-3 col-form-label">Email</label>
	            <div class="col-sm-5">
	            	<input type="text" class="form-control" name="email" id="email"
	                   placeholder="Enter email"
	                   th:field="*{email}" >
	             </div>
	             <div class="col-sm-3 text-danger small email-error" ></div>
	              <div class="col-sm-3 text-danger small " th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>     
	        </div>
	        
	
	        <div class="row mb-3">
	            <label class="col-sm-3 col-form-label">
	            	Role <span class="text-danger">*</span>
	            </label>
	            <div class="col-sm-5">
		            <select th:field="*{role}" class="form-select" name="role" id="role" >
		                <option value="" >Select role</option>
		                <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"  >		                
		                </option>
		            </select>
	            </div>
	            <div class="col-sm-3 text-danger small role-error" ></div>
	             <div class="col-sm-3 text-danger small" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
	        </div>
			<div class="d-flex justify-content-end">
	        <button type="submit" class="btn btn-primary"
	                th:text="${isEdit} ? 'Update User' : 'Add User'"></button>
	         </div>
	    </form>
	    
	   <script>
 document.addEventListener("DOMContentLoaded", function() {

	    const form = document.querySelector("form");
		if (!form) return;
	    
	    const usernameInput = document.getElementById('username');
	    const password = document.getElementById('password');
	    const fullName = document.getElementById('fullName');
	    const phoneNo = document.getElementById('phoneNo');
	    const address = document.getElementById('address');
	    const roleSelect = document.getElementById('role');
	    const email = document.getElementById('email');
	    
	    const nameError = form.querySelector(".username-error");
	    const passwordError = form.querySelector(".password-error");
	    const fullNameError = form.querySelector(".fullName-error");
	    const phoneNoError = form.querySelector(".phoneNo-error");
	    const addressError = form.querySelector(".address-error");
	    const roleError = form.querySelector(".role-error");
	    const emailError = form.querySelector(".email-error");
	    
		

	    form.addEventListener('submit', function(e) {
	        e.preventDefault();

	        // Clear previous error
	        nameError.textContent = "";
	        passwordError.textContent = "";
	        fullNameError.textContent = "";

	        // Check username length
	        if (!usernameInput.value || usernameInput.value.trim() === "") {
	        	nameError.textContent = "Username is required";
	            return;
	        }
	        else if( usernameInput.value.length > 100){
	        	nameError.textContent  = "Username must not be exceed than 100 characters";
	             return;
			}

	        if (!password.value || password.value.trim() === "" ) {
	        	passwordError.textContent = "Password is required ";
	            return;
	        }else if(password.value.length < 6 ){
	        	passwordError.textContent = "Password should be greater than 6 characters";
	            return;
			}
	        
	      if(fullName.value && fullName.value.trim() != "" && fullName.value.length > 50){
	        	fullNameError.textContent = "Full Name must not be exceed than 50 characters";
	            return;
			}
	      
	      if(phoneNo.value && phoneNo.value.trim() != "" && phoneNo.value.length > 15){
	    	  phoneNoError.textContent = "Phone No. must not be exceed than 15 characters";
	            return;
			}
	      
	      if(email.value && email.value.trim() != "" && email.value.length > 50){
	    	  emailError.textContent = "Email must not be exceed than 50 characters";
	            return;
			}
	      
	      if (!roleSelect.value || roleSelect.value.trim() === "") {
		    	roleError.textContent = "Please select an Role ";
			     return false;
		    }
	      
	      if(address.value && address.value.trim() != "" && address.value.length > 100){
	        	addressError.textContent = "Address must not be exceed than 100 characters";
	            return;
	      }

	        form.submit();
	        
	    });
	});
    </script>

	 </div>
   </div>
   </div>

  
   
 </div> 
 
 
 
</body>
</html>
   
